/*EMPIEZA ESTILOS DE CONTENIDO*/
li{
  list-style: none;
}

/*EMPIEZA ESTILOS DE NAVBAR*/
.navbar{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 0.125em; 
    flex-direction: column;
    padding: 0rem;
}

.navbar a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease 0s;
    display: flex;


}

.navbar li {
    list-style: none;
    display: flex;
    padding: 0 1.25rem;

}

.navbar a:hover {
    color: #0000CD;
}


.navbar-brand img{
    width:4.125em; 
   margin: auto;
   padding: auto;
}


/*-----BODY-----*/
  body{
    color: black;
    font-size: 1rem;
    font-family: "Poppins"
  }
/*-----BODY-----*/



/*EMPIEZA ESTILOS DE CARDS*/
  .card{
    color: black;
  }

  .card-black{
    background-color: #031927;
    color: white;

  }

  .bg-footer{
    background-color: white;
    border-color: transparent;
  }
 

  .card-text{
    text-align: start;
  }

  .card-group{
    margin-top: 4.375rem; /* 70px en rem */ 
  }

  .card-deck{
    padding: 0rem 0rem 3rem;
    margin: 0;
    text-align: center;
    color: white;
  }
  
  .card li{
    list-style: none;
  }

  .img-filter{ /*FILTRO DE IMAGEN A BLANCO Y NEGRO*/
    filter: brightness(25%); 
  }
  
  /*TERMINA ESTILOS DE CARDS*/


  .bg-dark{
    color: white;
    background-color:#031927;
  }



  /*EMPIEZA ESTILOS DE BOTON*/
  .btn{
    color: white;
    border-radius: 0%;
    background: #0000CD;
  }

   
  .btn:hover {
    background-color: #fff;
    color: black;
    border: solid;
    border-color: black;
  }
  /*TERMINA ESTILOS DE BOTON*/
 
  /*EMPIEZA FOOTER*/
  
  footer{
    background-color: #031927;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 0.125em; 
    flex-direction: column;
    padding: 0rem;
    margin: 0rem;
    

  }

  footer a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
    display: flex;
  }
  
  
  footer li {
    list-style: none;
    display: flex;

}

  footer a:hover {
    color: #0084ff;
}

  
  
  .p-social-icon-link{
    margin-right: 24px;
  }
  
/*TERMINA FOOTER*/
  
  
  .carousel-inner img {
    filter: grayscale(100%); /* make all photos black and white */ 
    width: auto; /* Set width to 100% */
    margin: auto;
  }
  
 
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  
  


  

  
  
  
  .chat-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0000CD;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
  }
  
  .chat-popup {
    position: fixed;
    bottom: 90px;
    right: 30px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    z-index: 9998;
  }
  
  .chat-popup-content {
    padding: 10px;
  }
  
  .chat-popup-content button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #0084ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chat-popup-content button:hover {
    background-color: #0056b3;
  }
  
  .chat-box {
    position: fixed;
    bottom: 160px; /* Aumenta la distancia para dar espacio al chat */
    right: 30px;
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9;
    display: none;
    z-index: 9997;
  }
  
  /* Estilos para las burbujas de chat */
  .chat-box p {
    margin: 5px 0;
  }
  
  .chat-box p strong {
    font-weight: bold;
  }
  
  .user-message {
    background-color: #0084ff;
    color: #fff;
    border-radius: 10px;
    padding: 8px 12px;
    max-width: 70%;
    word-wrap: break-word;
    float: right;
  }
  
  .bot-message {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px 12px;
    max-width: 70%;
    word-wrap: break-word;
    float: left;
  }
  
  /* styles.css */
 
  
  .badge-primary{
    background-color: #0000CD;
  }

  .bi{
    color: #0000CD;
  }
  .bg-white{
    color: black;
  }

  .fa{
    color: #0000CD;
  }

  .container-login{
    width: 25%;
  }

  .carousel-control-prev{
    border: transparent;
    background: none;
  }

  .carousel-control-next{
    border: transparent;
    background: none;
  }

 

 
  
  
  
  