/*EMPIEZA ESTILOS DE CONTENIDO*/
li{
  list-style: none;
}

a{
  text-decoration: none;
}

/*-----BODY-----*/
body{
 background-color: #fff;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
/*-----BODY-----*/

footer{
  background-color: #27343f;
  display: flex;
  flex-direction: column;
  justify-content: center;   
}

footer a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease 0s;
  display: flex;
}

footer a:hover {
  color: blue;
}

/* Icon 1 */

.animated-icon1{
width: 30px;
height: 20px;
position: relative;
margin: auto;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span{
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 3px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #0000CD;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}



/*EMPIEZA ESTILOS DE NAVBAR*/
.navbar{ 
  background-color: #27343f;
    display: flex;
    position: fixed;
    align-items: center;
    padding: 1rem;
}


.navbar a {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-wrap: balance;
  
}

.navbar li {
    display: flex;
    text-wrap: balance;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}


.navbar .bi{
  color: #fff;

}

.navbar i{  
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.navbar-brand{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.text-brand{
  background-color: #0aafb2;
  border-radius: 3px;
  padding: 1vh;
  color: #fff;
}


.text-brand:hover{
  transition: .2s;
background-color: #becbce;
color: black;
}

li>.text-brand{
  color: #fff;
}

.text-brand .bi{
  color: #fff;
}



.navbar-brand img{
    width: 5vh;
    height: auto;
    object-fit: cover;
    margin-right: 1vh;
}

.container-custom1{
  background-color: #27343f;
  position: relative;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: #fff;
}

.container-black{
  background-color: #f3f2f2;
  border: solid #e3e3e3 1px;
  border-radius: 3px;
  margin: 1vh 1vh;
  color: black;
  
}


h2{
  font-size: 150%;
  padding-top: 1.5rem;
  text-transform: uppercase;

}

h1{
  font-size: 200%;
  padding-top: 1.5rem;
  text-transform: uppercase;
}

.img-custom{
  width: 25vh;
  height: auto;
  display: flex;
  align-items: center;
  padding-right: 4vh;
  padding-left: 4vh;
}
.pricing-card{
  gap: 1rem;
  padding: 20px 40px;
  transition: transform 0.3s;

}

.titulo{
  color:#fff;
  font-family: "Montserrat", sans-serif;
  font-weight: weight;
  font-style: normal;
  
}
.text-custom2{
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content:space-evenly;
  text-wrap: balance;
}

.card:hover{
  transform: translateY(-20px);
  transition: .5s;
}


.card{
    background-color: #00000001;
    color: black;  
  }



.card-title{
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  text-align: justify;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.card-title2{
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  text-align: justify;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
 
  .card-text{
  text-align: justify;
  padding-top: 1vh;
  padding-bottom: 1vh;
  }
  .card-text2{
    text-align: justify;
    padding-top: 1vh;
    padding-bottom: 1vh;
   
    }

  .card-header{
    background:none;
  }

  .card-group{
    margin-top: 4.375rem; /* 70px en rem */ 

  }

.card-deck .pricing-card{
margin: 10vh 10vh;
}
  
  .card li{
    list-style: none;
  }

  .btn-card{
    border: none;
    color: black;
  }

  .btn-link:hover{
    border: none;
    text-decoration:none;
  }
  .btn-link{
    border: none;
    text-decoration:none;
  }
 
 
 
  .img-filter{ /*FILTRO DE IMAGEN A BLANCO Y NEGRO*/
    filter: brightness(25%); 
  }


  /*EMPIEZA ESTILOS DE BOTON*/
  .btn{
    background-color: #27343f;
    color: #fff;
    border-radius: 0%;
    border: none;
    padding-bottom: 1vh;
    padding-top: 1vh;
  }
   
  .btn:hover {
    background-color: #fff;
    color: black;
    border: solid;
    border-color: black;
  }

  
  .carousel-inner img {
    filter: grayscale(100%); /* make all photos black and white */ 
    width: auto; /* Set width to 100% */
    margin: auto;
  }
  
 
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  

  .badge{
    background-color: #27343f;
    color: #fff;
    padding: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

 

  .bi{
    color: #0ec6bc;
  }
 

  .fa{
    color: #0ec6bc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4vh;
    padding-left: 4vh;
  }

  .container-login{
    width: 25%;
  }

  .carousel-control-prev{
    border: transparent;
    background: none;
  }

  .carousel-control-next{
    border: transparent;
    background: none;
  }

p{
  padding-top: 1rem;
  text-align: justify;
}
 

 
  
  
  
  