li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: black;
}

.animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 span {
  background: #0000CD;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.navbar {
  background-color: #1A1A18;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.navbar-nav {
  display: flex;
  column-gap: 5vh;
}

.navbar a {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .bi {
  color: #fff;
}

.navbar i {
  display: flex;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

footer {
  background-color: #23201A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 80px;
}

footer a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease 0s;
  display: flex;
}

footer a:hover {
  color: blue;
}

.navbar-brand img {
  width: 5vh;
  height: auto;
  object-fit: cover;
  margin-right: 1vh;
}

.container-custom1 {
  background-color: #1A1A18;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-custom2 {
  background-color: #ffffff;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-custom3 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1A1A18;
  border-radius: 10px 0 10px;
}

.card {
  background-color: #23201A;
  border: solid 2px #fff;
  color: #fff;
 
}

.card-deck{
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-body {
  padding: 40px 40px;
}

.card li {
  display: flex;
}

.card i {
  display: flex;
}

.card-header {
  background-color: #1A1A18;
  border: none;
  text-align: center;
}

.btn-link {
  background-color: none;
  text-decoration: none;
  outline-style: none;
  border: none;
  font-size: 1rem;
  color: white;
  text-align: start;
}

.btn-link:hover {
  color: #ff5100;
  text-decoration: none;
}

.btn-link:focus {
  text-decoration: none;
  outline-style: none;
}

h3 {
  font-family: "Poppins",sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
}

h4 {
  font-family: "Poppins",sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}

h2 {
  font-family: "Poppins",sans-serif;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  font-family: "Poppins",sans-serif;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: start;
}

.img-custom {
  width: 25vh;
  height: auto;
  display: flex;
  align-items: center;
  padding-right: 4vh;
  padding-left: 4vh;
}

.text-custom2 {
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  font-size: 10rem;
  font-weight: 300;
  line-height: 1.05;
  padding: 0 40px 15px;
}

.text-custom3 {
  font-family: 'Poppins',sans-serif;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  display: inline-block;
  align-items: center;
  justify-content: flex-start;
  text-align: justify;
  margin-right: 15vh;
}

.text-custom4 {
  font-family: 'Poppins',sans-serif;
  color: #000000;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.05;
}

.text-custom5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.text-custom6 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

.img-custom1 {
  border-radius: 50px 0px 50px;
  border: solid 2px #fff;
}

.img-custom2 {
  border-radius: 50px 50px 50px;
}

/*.card:hover {
transform: translateY(-20px);
transition: .5s;
}
*/

.img-filter {
  /*FILTRO DE IMAGEN A BLANCO Y NEGRO*/
  filter: brightness(25%);
}

/*.btn {
  background: none;
  color: #ffffff;
  border: solid 2px #fff;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
*/

.btn:hover {
  background-color: #fff;
  color: black;
  border: solid;
  border-color: black;
}

.carousel-inner img {
  filter: grayscale(100%);
  /* make all photos black and white */
  width: auto;
  /* Set width to 100% */
  margin: auto;
}

@media (max-width: 600px) {
  .carousel-caption {
       display: none;
  }
}

.badge-custom1 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  border-radius: 20px;
  border: solid 2px #fff;
}

.badge-custom2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  border-radius: 20px;
  border: solid 2px #fff;
}

p.badge-custom1 {
  width: 30%;
  display: inline-flex;
  justify-content: center;
}

p.badge-custom2 {
  width: 30%;
  display: inline-flex;
  justify-content: center;
}

.color-custom1 {
  background: #ff5100;
}

.color-custom2 {
  background: #1A1A18;
}

.bi {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.fa {
  color: #0ec6bc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4vh;
  padding-left: 4vh;
}

.table-custom1 {
  background-color: #1A1A18;
  border: solid 1px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

label {
  padding-bottom: 10px;
  padding-top: 10px;
}

.custom-select {
  background: none;
  border: solid 1px #fff;
}

select {
  color: #fff;
}
